{{#if displayAll}}


<p class="current-score">
  Current Score: 
</p>

<div class="score-grid">
  <div id="name-header">Player</div>
  <div id="score-header">Score</div>
  
  {{#each players}}
    {{> table}}
  {{/each}}
</div>

<main class="game-container">
  <canvas class="game-box" width="512" height="512"></canvas>
  <div class="instructions-container">
    <p class="instructions">
      Use WASD keys or arrow keys to play!
      <br><br>
      Select difficulty to start:<br>
      1: Easy<br>
      2: Medium<br>
      3: Hard<br>
      4: Ultra
    </p>
  </div>
</main>

<div id="modal-backdrop" class="hidden"></div>

<div id="enter-name-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Enter Your Name</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="input-element">
        <textarea id="name-input"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Accept</button>
    </div>

  </div>
</div>

<div id="game-over-modal" class="hidden">
  <div id="game-over-modal-dialog" class="modal-dialog">

    <div id="game-over-modal-header" class="modal-header">
      <h3>Game Over</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div id="game-over-modal-body" class="modal-body">
      <p class="score-side-tile">Score:</p>
      <p class="gameScore"></p>
    </div>
    
  </div>
</div>
{{/if}}
