{{#if displayAll}}
<div class="instructions">
  <p>Use WASD keys or arrow keys to play!</p>
</div>
<main class="game-container">
  <canvas class="game-box" width="500" height="500">
</main>
{{/if}}

<div class="score-grid">
  <div id="name-header">Player</div>
  <div id="score-header">Score</div>
  
  {{#each players}}
    {{> table}}
  {{/each}}
</div>

{{#if displayAll}}
<div id="modal-backdrop" class="hidden"></div>
<div id="enter-name-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Enter Your Name</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="input-element">
        <textarea id="name-input"></textarea>
      </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Accept</button>
    </div>

  </div>
</div>
{{/if}}